body {
  width: 35%;
  margin: 0 auto;
  margin-top: 35px;
  border: transparent;
  padding: -15px;
  font-family: roboto Mono;
}

button {
  border: transparent;
}

h1 {
  padding: 5px;
  font-display: auto;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.26);
  text-align: center;
  display: inline-table;
  text-transform: capitalize;
}

hr {
  max-width: 50%;
  background-color: rgba(255, 255, 255, 0.26);
  margin-bottom: 0px;
}

li {
  line-height: 2px;
  padding: 5px;
}

.container {
  background-image: url(background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.unitChange {
  text-align: left;
  margin: 10px;
  background-color: transparent;
}

.search {
  text-align: right;
}

.main {
  text-align: center;
  line-height: 5px;
  padding: 10px;
}

.moreInfo {
  text-align: center;
  max-width: 55%;
  margin: 0 auto;
  padding: 25px;
  font-size: 12px;
  list-style: none;
  line-height: 5px;
}

#search-button {
  display: inline;
  background-color: transparent;
  border: transparent;
}

#search-input {
  text-align: right;
  display: inline;
  margin: 10px -5px;
  border: transparent;
  background-color: transparent;
  max-width: 150px;
}

#hour-date {
  font-size: 15px;
  margin-top: -5px;
  background-color: rgba(255, 255, 255, 0.26);
  width: 180px;
  margin: 0 auto;
}

#temperature {
  margin: 15px;
  font-size: 90px;
  background-color: rgba(255, 255, 255, 0.26);
  display: inline-table;
}

#real-feel {
  padding: 10px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.26);
}

#humidity {
  padding: 10px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.26);
}

#wind-speed {
  padding: 10px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.26);
}
